<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>BeRightHere</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We require access to the camera of the user for scanning the QR Code placed at the property to allow check in and check out into and out of the property. While scanning the QR Code, we also capture the Live location to make sure the user is physically present at the building.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use Live location of the user for two reasons. To show nearby properties while searching, discovery and booking. While scanning the QR Code, to make sure the user is physically present at the location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We use Live location of the user for two reasons. To show nearby properties while searching, discovery and booking. While scanning the QR Code, to make sure the user is physically present at the location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use Live location of the user for two reasons. To show nearby properties while searching, discovery and booking. While scanning the QR Code, to make sure the user is physically present at the location.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We also allow the user to use their camera to capture issues at the property or select a picture from the gallery, when they are reporting a help desk issue.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
		<string>telprompt</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use the RazorPay payment gateway, for users to pay or refund the charges for each booking.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SegoeUI-Bold.ttf</string>
		<string>SegoeUI.ttf</string>
		<string>SegoeUI-SemiBold.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
